@using Website.Helpers
@using Agility.Web.Mvc
@using React.AspNet

<!DOCTYPE html>
<html>
    <title>@ViewBag.Title - Agility</title>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" media="all" />
    <meta name="theme-color" content="#ffcb28">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-startup-image" href="https://static.agilitycms.com/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://static.agilitycms.com/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://static.agilitycms.com/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://static.agilitycms.com/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://static.agilitycms.com/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://static.agilitycms.com/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://static.agilitycms.com/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://static.agilitycms.com/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://static.agilitycms.com/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://static.agilitycms.com/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://static.agilitycms.com/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://static.agilitycms.com/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://static.agilitycms.com/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://static.agilitycms.com/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="https://static.agilitycms.com/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="https://static.agilitycms.com/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="https://static.agilitycms.com/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="https://static.agilitycms.com/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="https://static.agilitycms.com/favicon/mstile-310x310.png" />


    <!-- Start: Top Page and Global Scripts -->
    @Html.RenderAgilityTopScripts()
    <!-- End: Top Page and Global Scripts -->

    <!-- Start: Top Page Additional Header Markup + Meta -->
    @Html.RenderAgilityCss()
    <!-- End: Top Page Additional Header Markup + Meta -->

    <environment exclude="Development">
        <!-- Style bundle only used in production build -->
        <link rel="stylesheet" href="~/dist/client.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <!-- Start: Inner Page Template Render -->
    @RenderBody()
    <!-- End: Inner Page Template Render -->

    <!-- Start: Agility Preview Bar + Bottom Page and Global Scripts -->
    @Html.RenderAgilityScripts()
    <!-- End: Agility Preview Bar + Bottom Page and Global Scripts -->

    <!-- Start: Compute/Set UGC Hash  -->
    @Html.GetUGCDataServiceInitializationScript()
    <!-- End: Compute/Set Hash -->

    <!-- Start: Main JS Bundle -->
    <script src="~/dist/client.js" type="text/javascript" asp-append-version="true"></script>
    <!-- End: Main JS Bundle -->
    
    <!-- Start: ReactJS.NET Client Hydrate -->
    @Html.ReactInitJavaScript()
    <!-- End: ReactJS.NET Client Hydrate -->

    <!-- Start: Any Additional Inner Template JS -->
    @RenderSection("Scripts", required: false)
    <!-- End: Any Additional Inner Template JS -->
</body>
</html>
